<p id="notice"><%= notice %></p>

<p>
  <strong><%= @contact.class.human_attribute_name("name") %>:</strong>
  <%= @contact.name %>
</p>

<p>
  <strong><%= @contact.class.human_attribute_name("email") %>:</strong>
  <%= @contact.email %>
</p>

<p>
  <strong><%= @contact.class.human_attribute_name("kind") %>:</strong>
  <%= @contact.kind %>
</p>

<p>
  <strong><%= @contact.class.human_attribute_name("observation") %>:</strong>
  <%= @contact.observation %>
</p>

<%= link_to t('buttons.edit'), edit_contact_path(@contact) %> |
<%= link_to t('buttons.back'), contacts_path %>
